<div class="content">

  <aside id="left">

    <ul>

      <li id="profile-pic" class="nav-item no-click no-triangle">

        <%= image_tag "profile.jpg", alt: "Profile Picture", width: 155 %>

      </li>

          <%= content_tag :li, class: "nav-item about" do %>
            <%= content_tag :i, "", class: "fa-solid fa-briefcase" %>
            <%= content_tag :h4, "ABOUT ME" %>
            <%= content_tag :p, "WHO I AM" %>
          <% end %>


        <%= content_tag :li, class: "nav-item resume" do %>
          <%= content_tag :i, "", class: "fa-solid fa-briefcase" %>
          <%= content_tag :h4, "RESUME" %>
          <%= content_tag :p, "CURRICULUM VITAE" %>
        <% end %>


        <%= content_tag :li, class: "nav-item portfolio" do %>
          <%= content_tag :i, "", class: "fa-solid fa-briefcase" %>
          <%= content_tag :h4, "PORTFOLIO" %>
          <%= content_tag :p, "MY WORKS" %>
        <% end %>



        <%= content_tag :li, class: "nav-item blog" do %>
          <%= content_tag :i, "", class: "fa-solid fa-briefcase" %>
          <%= content_tag :h4, "BLOG" %>
          <%= content_tag :p, "MY TOUGHTS" %>
        <% end %>



        <%= content_tag :li, class: "nav-item contact" do %>
          <%= content_tag :i, "", class: "fa-solid fa-briefcase" %>
          <%= content_tag :h4, "CONTACT" %>
          <%= content_tag :p, "SAY HELLO" %>
        <% end %>


    </ul>

  </aside>

 <div id="content-container">

      <div id="about-page"><%= render partial: "about"%></div>
      <div id="resume-page" ><%= render partial: "resume"%></div>
      <div id="portfolio-page"><%= render partial: "portfolio"%></div>
      <div id="blog-page"><%= render partial: "blog"%></div>
      <div id="contact-page" ><%= render partial: "contact"%></div>

 </div>


  <aside></aside>

</div>
